arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1613942767734/work
certifi==2020.12.5
cftime @ file:///D:/bld/cftime_1612246574930/work
cmdstanpy==0.9.68
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1615678826465/work
cycler==0.10.0
Cython @ file:///D:/bld/cython_1613867307129/work
ephem @ file:///D:/bld/ephem_1602326724695/work
fbprophet @ file:///D:/bld/fbprophet_1599365958928/work
hijri-converter @ file:///home/conda/feedstock_root/build_artifacts/hijri-converter_1612531902526/work
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1612548464349/work
joblib==1.0.1
kiwisolver @ file:///D:/bld/kiwisolver_1610099948875/work
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
LunarCalendar==0.0.9
matplotlib @ file:///D:/bld/matplotlib-suite_1616782539711/work
netCDF4 @ file:///D:/bld/netcdf4_1613287141690/work
numpy @ file:///D:/bld/numpy_1616933441329/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas @ file:///D:/bld/pandas_1614698105739/work
Pillow @ file:///D:/bld/pillow_1615244206091/work
PyMeeus==0.5.11
pyparsing==2.4.7
pystan==2.19.1.1
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
scikit-learn==0.24.1
scipy @ file:///C:/bld/scipy_1616878843131/work
setuptools-git==1.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
threadpoolctl==2.1.0
tornado @ file:///D:/bld/tornado_1610094858390/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1614982742480/work
ujson==4.0.2
wincertstore==0.2
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1614346479764/work
